.container {
  position: relative;
}

.amount {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(64, 131, 131);
  right: -10px;
  bottom: -5px;
  border-radius: 50%;
  color: aliceblue;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
