* {
  text-decoration: none;
}

img {
  display: block;
  width: 200px;
  height: 100%;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

li:last-child {
  margin-bottom: 0;
}

span {
  color: rgb(25, 24, 27);
  font-size: 16px;
}

b {
  font-size: 20px;
  font-weight: 700;
  color: rgb(175, 9, 45);
}
